*background:   #000000
*foreground:   #eff0eb
!!*foreground:   #5ab738
!!*cursorColor:  #9aedfe
*cursorColor:  #ffffff

*color0:      #33303b
*color8:      #4f4b58
*color1:      #ff5c57
*color9:      #ff5c57
*color2:      #5af78e
*color10:     #5af78e
*color3:      #f3f99d
*color11:     #f3f99d
*color4:      #57c7ff
*color12:     #57c7ff
*color5:      #ff6ac1
*color13:     #ff6ac1
*color6:      #9aedfe
*color14:     #9aedfe
*color7:      #eff0eb
*color15:     #eff0eb

!! appearance
Xft.dpi: 109
URxvt*termName: rxvt-256color
!!URxvt*font: xft:Hack Nerd Font Mono:pixelsize=12
URxvt.boldFont:
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.cursorBlink: false
URxvt.cursorUnderline: false
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.saveline: 2048
URxvt.depth: 0
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt*geometry: 65x17
URxvt.internalBorder: 10
URxvt*loginShell: true

!! navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! copy paste & other
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i selection clipboard
URxvt.pasteCommand: xclip -o selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.underlineURLs: true
URxvt.urlButton: 1
